main {
	overflow: hidden;
	position: relative;
	height: 100vh;
}
body{
	background: #eee;
}

#ola1 {
	position: absolute;
	top: 0;
	width: 200vw;
	transform: translateX(-30%) translateY(10%) scale(1.5);
}
#ola2 {
	position: absolute;
	bottom: 0;
	width: 200vw;
	transform: translateX(14%) translateY(-30%) scale(2) rotate(0deg);
}

#ola3 {
	width: 200vw;
	top: 0;
	position: absolute;
	transform: translateX(-30%) translateY(40%) rotate(-10deg) scale(1.5);
	z-index: -1;
}
#ola1,
#ola2 {
	position: absolute;
	z-index: -1;
}

.login-container {
	width: 100%;
	max-width: 600px;
}

.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1em;
}

#login-form {
	width: 100%;
	z-index: 5;
	margin-top: 4em;
}

@media (min-width: 720px) {
	#ola1 {
		transform: translateY(-30%);
	}
	#ola2 {
		transform: translateY(30%);
	}
	#ola3 {
		transform: translateY(-10%) rotate(10deg);
	}
}
